
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    color: #fff;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

/* Style the main content */
main {
    padding: 20px;
}

.dashboard {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-stats h2, .game-history h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-stats p, .game-history th, .game-history td {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(71, 65, 65, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    color: black;
    background-color: #5e4e4e;
}


/* Style the footer */
.btn {
    text-align: center;
    margin: 20px;
}

#logout-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #c0392b;
}
